@model BlogMVCApp.Models.Blog

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-8">

        <h1>@Model.Title</h1>
        <hr />

        <p>
            <span class="glyphicon glyphicon-time"></span>
            @Model.CreationDate
        </p>
        <hr />
        <img class="img-responsive" src="http://placehold.it/900x300" alt="" />
        <hr />

        <blockquote>
            <p>
                @Model.Explanation
            </p>
        </blockquote>

        <p>
            @Model.Content
        </p>


    </div>
</div>
