@model IEnumerable<BlogMVCApp.Models.BlogModel>

@{
    ViewBag.Title = "Blog List";
}

<h2>List Page</h2>

@Html.Partial("BlogList", Model)

@section RightColumn
{
    <div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
            <input type="text" class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
    @{Html.RenderAction("CategoryList", "Category");}
}
