@model IEnumerable<BlogMVCApp.Models.BlogModel>

@{
    ViewBag.Title = "HomePage";
}

<h2>Home Page</h2>

@Html.Partial("BlogList", Model)

@section RightColumn
{
    @Html.Partial("Search")
    @{Html.RenderAction("CategoryList", "Category");}
}
